body {
	color: #333;
}

dl,
ol,
ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

/* header */

.navbar {
	background: #20232a;
}

.nav-item > a {
	color: #fff;
	line-height: 56px;
	height: 56px;
	display: block;
	padding: 0 10px;
}

.nav-item > a.active {
	color: #61dafb;
}

.collapse:not(.show) {
	display: block;
}

main {
	padding: 60px 15px;
	min-height: 600px;
}

footer {
	background: #282c34;
	color: #ffffff;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
	font-size: 14px;
}

section {
	padding: 40px 0;
}
